body {
    background-color: red;
}

h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}